.container {
    margin: 20px 0;
}

.card {
    margin: 1% !important;
    background-color: #A8DADC !important;
}

.infected {
    border-bottom: 10px solid #1D3557;
}

.recovered {
    border-bottom: 10px solid #457B9D;
}

.deaths {
    border-bottom: 10px solid #E63946;
}